@import url(./_hide/popup__content_hide.css);
@import url(./_img/popup__content_img.css);

.popup__content {
  width: 430px;
  height: 390px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}
