
.user-info__data .user-info__button_edit-profile {
    margin-top: 24px;
    width: 38px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 980px) {
    .user-info__data .user-info__button_edit-profile {
        margin: 24px auto;
    }

}